.teaser {
  position: absolute;
  z-index: 10;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
}
.flex_teaser {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.teaser_text {
  color: black;
}
.mitte {
  text-align: center;
  max-width: 700px;
}
.teaser_text_spezial {
  padding-left: 40px;
  padding-right: 40px;
}
